<footer th:fragment="footer">
    <div class="center">
        <img src="/img/logo-256.png" width="64px">
        <h3 class="brand">Magic Pet Shop</h3>
        <li>Lleva tu mascota a otro nivel</li>
    </div>

    <div>
        <h3>Desarrolladores</h3>
        <li>Brian Gabriel Gonzalez</li>
        <li>Darío Parra</li>
        <li>Enzo Sosa</li>
        <li>Gino Fiorellini</li>
        <li>Javiera Cabello</li>
        <li>Juan Manuel Espinosa</li>
        <li>Pablo Bevilacqua</li>
        <li>Pedro Ragni</li>
    </div>

    <div>
        <h3>Redes Sociales</h3>
        <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
        <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
        <li><a href="#"><i class="bi bi-linkedin"></i> LinkedIn</a></li>
        <li><a href="#"><i class="bi bi-whatsapp"></i> WhatsApp</a></li>
        <li><a target="_BLANK" href="https://www.github.com/PabloBevilacqua/pet-shop"><i class="bi bi-github"></i>
                Github</a></li>
    </div>
    <p class="center p1" style="width: 100%;">Magic and Strange Pet Shop © 2021 - Sin garantías</p>
</footer>