<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Panel de administración</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="shortcut icon" href="/img/logo-256.png" type="image/png">
</head>

<body>
    <nav th:replace="/fragmentos/nav :: nav"></nav>

    <main class="bg-amarillo">
        <h1 class="center">Panel de administración</h1>

        <p class="descripcion center">Bienvenido al detrás de escena! 🌟</p>

        <menu>
            <a href="/admin/productos">Productos</a>
            <a href="/admin/usuarios">Usuarios</a>
            <a href="/mensaje/ver">Mensajes</a>
        </menu>

    </main>

    <footer th:replace="/fragmentos/footer :: footer"></footer>
</body>

</html>