<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Panel de administración</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <nav th:replace="/fragmentos/nav :: nav-logadmin"></nav>

    <main>
        <h1>Panel de administración</h1>

        <ul>
            <li><a href="/admin/productos">Productos</a></li>
            <li><a href="/admin/usuarios">Usuarios</a></li>
        </ul>
    </main>

    <footer th:replace="/fragmentos/footer :: footer"></footer>
</body>

</html>