<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="shortcut icon" href="/img/logo-256.png" type="image/png">
</head>

<body>
    <nav th:replace="/fragmentos/nav :: nav"></nav>

    <main class="bg-amarillo">
        <section>

            <form th:action="${action}" method="POST" th:object="${producto}" enctype="multipart/form-data">
                <h2 th:text="${titulo}"></h2>

                <input type="hidden" name="id" th:value="*{id}" />

                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" th:value="*{nombre}" placeholder="Nombre del producto" />

                <label for="codigo">Código</label>
                <input type="text" name="codigo" th:value="*{codigo}" placeholder="#3687" />

                <label for="stock">Stock</label>
                <input type="number" name="stock" th:value="*{stock}" placeholder="Cantidad de items" />

                <label for="descripcion">Descripción</label>
                <input type="text" name="descripcion" th:value="*{descripcion}" placeholder="Descripción breve" />

                <label for="descripcionCompleta">Descripción completa</label>
                <textarea name="descripcionCompleta" th:text="*{descripcionCompleta}" cols="30" rows="10"></textarea>

                <label for="precioUnitario">Precio por unidad</label>
                <input type="number" name="precioUnitario" th:value="*{precioUnitario}"
                    placeholder="Precio del producto" />

                <label for="archivo">Imagen del producto</label>
                <input type="file" name="archivo" placeholder="Imagen del producto" />

                <p th:if="${error != null}" th:text="${error}" class="message error">Un error</p>

                <input th:value="${titulo}" type="submit" class="btn primary">
                <a href="/admin/productos" class="cancel">Cancelar</a>
            </form>
        </section>
    </main>

    <footer th:replace="/fragmentos/footer :: footer"></footer>
</body>

</html>