<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <nav th:replace="/fragmentos/nav :: nav-logadmin"></nav>

    <main>
        <section>
            <h2 th:text="${titulo}"></h2>

            <form th:action="${action}" method="POST" th:object="${producto}">
                <input type="hidden" name="id" th:value="*{id}" placeholder="Id" />

                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" th:value="*{nombre}" placeholder="Nombre del producto" />

                <label for="descripcion">Descripción</label>
                <input type="text" name="descripcion" th:value="*{descripcion}"
                    placeholder="Descripcion del producto" />

                <label for="precioUnitario">Precio por unidad</label>
                <input type="number" name="precioUnitario" th:value="*{precioUnitario}"
                    placeholder="Precio del producto" />
                <!-- <input type="number" name="stock" th:value="*{stock}" placeholder="Stock del producto" />
                <input type="number" name="marca" th:value="*{marca.id}" placeholder="Marca" />
                <input type="number" name="categoria" th:value="*{categoria.id}" placeholder="Categoria" /> -->

                <p th:if="${error != null}" th:text="${error}" class="message error">Un error</p>

                <a href="/admin/productos" class="btn cancel">Cancelar</a>
                <input th:value="${titulo}" type="submit" class="btn primary">
            </form>
        </section>
    </main>

    <footer th:replace="/fragmentos/footer :: footer"></footer>
</body>

</html>