<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="shortcut icon" href="/img/logo-256.png" type="image/png">
</head>

<body>
    <nav th:replace="/fragmentos/nav :: nav"></nav>

    <main>
        <section>
            <h2>Cambiar contraseña de usuario</h2>

            <form th:action="${action}" method="POST">
                <input type="hidden" name="id" th:value="${id}" placeholder="Id" />

                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Escriba una contraseña" />

                <label for="confirmPassword">Confirmar contraseña</label>
                <input type="password" name="confirmPassword" placeholder="Escriba nuevamente la contraseña" />

                <p th:if="${error != null}" th:text="${error}" class="message error"></p>

                <input type="submit" class="btn primary" value="Cambiar contraseña">
                <a href="/admin/usuarios" class="cancel">Cancelar</a>
            </form>
        </section>
    </main>

    <footer th:replace="/fragmentos/footer :: footer"></footer>
</body>

</html>