<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Magic Pet!</title>
</head>

<body>
    <h1>Magic Pet!</h1>

    <nav>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Sobre nosotros</a></li>
        <li><a href="/contact">Contacto</a></li>
    </nav>

    <h2>Contacto</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, commodi ducimus. Dignissimos voluptatum
        facilis possimus veritatis a, laudantium fugiat et, in nesciunt labore commodi? Facere ipsum inventore beatae
        voluptatibus tempore.</p>
</body>

</html>