<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Magic and Strange Pet Shop!</title>
</head>

<body>
    <nav th:replace="/fragmentos/nav :: nav"></nav>

    <main class="bg-agua">
        <section class="container">
            <h1>Magic and Strange Pet Shop!</h1>
            <div class="left">
                <img src="/img/icons/bola.png" alt="bola de cristal"><br>
                <!-- <img src="/img/icons/varita.png" alt="varita mágica">
                <img src="/img/icons/sombrero.png" alt="sombrero de mago"> -->
            </div>
            <div class="right">
                <p class="medium">Lorem ipsum dolor sit amet,<br> dadipisicing elit.</p>
                <a class="btn primary" href="/productos">Ver catálogo</a>
            </div>
        </section>
    </main>

    <section>

    </section>

    <footer th:replace="/fragmentos/footer :: footer"></footer>
</body>

</html>